
.note.new, textarea {
	border: none;
	resize: none;
	background-color: #51c4d3;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
}
textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}