.welcome{
	color: #51c4d3;
}

.header{
	margin-bottom: 20px;
}

.header-buttons{
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.header-buttons button {
	background-color: #e1e1e1;
	border: none;
	border-radius: 2px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}